@use './variables';

.evento {
    
    &--sobre-o-local {
        background-image: linear-gradient(variables.$cinza1, variables.$cinza2);
    }

    &--decoração {
        background-image: linear-gradient(variables.$cinza2, variables.$cinza3);
    }


    &__container {
        display: flex;
        width: 960px;
        margin: 0 auto;
        justify-content: space-between;
        gap: 40px;
        padding-top: 60px;
        padding-bottom: 60px;

        @media (max-width: 640px) {
            display: block;
            width: 80%;
        }

        @media (max-width: 1024px) {
            display: block;
            width: 80%;
        }

        &__description {
            
            &__title {
                margin-bottom: 32px;

                @media (max-width: 640px) {
                    text-align: center;
                }

                @media (max-width: 1024px) {
                    text-align: center;
                }
            }
        }
        

    }

    &--image-reverse {
        .evento__container {
            flex-direction: row-reverse;
        }
    }

    &__image {
        max-width: 25vw;
        border-radius: 5px;

        @media (max-width: 640px) {
            max-width: 100%;
            margin-top: 32px;
        }

        @media (max-width: 1024px) {
            max-width: 100%;
            margin-top: 32px;
        }
    }
}